In [1]:
a=3
b=2

In [5]:
print(f"A = {a}\nB = {b}")

A = 3
B = 2

In [7]:
print("The value of A= %d & The value of B= %d"%(a,b))

The value of A= 3 & The value of B= 2

In [9]:
for i in range(10):
    print(i+1,end="\t")

1	2	3	4	5	6	7	8	9	10

In [12]:
for i in range(10,-1,-1):
    print(i,end="\t")

10	9	8	7	6	5	4	3	2	1	0

In [16]:
for i in range(1,10,2):
    print(i,end="\t")

1	3	5	7	9

In [19]:
for i in range(10,-1,-3):
    print(i,end="\t")

10	7	4	1

In [20]:
LIST=[12,33,"kabila",44]

In [26]:
for i,j in enumerate(LIST):
    print(f"index %d and value %s"%(i,j))

index 0 and value 12
index 1 and value 33
index 2 and value kabila
index 3 and value 44

In [28]:
LIST[-1]

44

In [30]:
LIST.append(15)
LIST

[12, 33, 'kabila', 44, 15, 15]

In [31]:
LIST.insert(4,"abbu")
LIST

[12, 33, 'kabila', 44, 'abbu', 15, 15]

In [43]:
LIST.remove("abbu")
LIST

[12, 33, 'kabila', 44, 15]

In [34]:
type(LIST)

list

In [35]:
del LIST[-1]
LIST

[12, 33, 'kabila', 44, 'abbu', 15]

In [44]:
#Tuple
T=(12,11,41,22,"abbu")

In [45]:
T

(12, 11, 41, 22, 'abbu')

In [50]:
T[4]

'abbu'

In [51]:
#SET
S={"MBA","EEE","BBA","ARCH"}
S

{'ARCH', 'BBA', 'EEE', 'MBA'}

In [52]:
S.add(3)

In [59]:
S2=S.copy()
S2

{3, 'ARCH', 'BBA', 'EEE', 'MBA'}

In [60]:
S2.add("LAW")
S2

{3, 'ARCH', 'BBA', 'EEE', 'LAW', 'MBA'}

In [61]:
S4=S.union(S2)

In [62]:
S4

{3, 'ARCH', 'BBA', 'EEE', 'LAW', 'MBA'}

In [63]:
3 in S2

True

In [64]:
#Dictionary/Maps/Hash Table
D={"A":12,"B":22,"C":33,"D":44}

In [66]:
D["A"]

12

In [68]:
D.get("D")

44

In [71]:
D.keys(),D.items(),D.values()

(dict_keys(['A', 'B', 'C', 'D']),
 dict_items([('A', 12), ('B', 22), ('C', 33), ('D', 44)]),
 dict_values([12, 22, 33, 44]))

In [72]:
F=[1,3,4,5,6,8,4,6]

In [73]:
C=[i for i in F]
C

[1, 3, 4, 5, 6, 8, 4, 6]