In [1]:
import numpy as np 
import pandas as pd

In [6]:
df1=pd.read_csv("archive/Bitcoin_tweets.csv")
df1.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

In [7]:
df2=pd.read_csv("archive/Bitcoin.csv")
df2.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,28-05-2021,38507.083075,38856.967885,34779.039427,35697.606390,5.520019e+10,6.682839e+11
1,27-05-2021,39316.889678,40379.617672,37247.903676,38436.968535,4.321097e+10,7.195381e+11
2,26-05-2021,38392.623656,40782.078183,37905.834854,39294.197382,5.134674e+10,7.355564e+11
3,25-05-2021,38795.780250,39776.349798,36581.428916,38402.223851,5.621192e+10,7.188294e+11
4,24-05-2021,34700.363568,39835.139830,34551.080550,38705.978637,6.735958e+10,7.243321e+11