In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset_t=pd.read_csv("archive/Bitcoin_tweets.csv")

C:\Users\KAWSAR~1\AppData\Local\Temp/ipykernel_704/768523910.py:1: DtypeWarning: Columns (5,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset_t=pd.read_csv("archive/Bitcoin_tweets.csv")

In [4]:
dataset_t.head(100)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,aWebAnalysis | Crypto,Blockchain,Cryptocurrencies price monitor & analysis tool...,2017-08-30 19:26:58,1877.0,1454,33,False,2021-02-10 23:10:02,"Bitcoin BTC Current Price:\n$45,161.73\n1 Hour...","['btc', 'bitcoin']",AwebAnalysis,False
96,Hooligan Abroad (Every dog has its day),NaN,"Ex Equity Strategist. Now trade own book, live...",2014-10-14 07:31:30,355.0,405,8821,False,2021-02-10 23:09:59,"@michael_saylor Advertising tactic called ""lin...",['Bitcoin'],TweetDeck,False
97,Cryptocurrencies / USD,NaN,Stay updated on the main cryptocurrencies of t...,2018-08-02 10:06:05,3910.0,1,10,False,2021-02-10 23:09:39,ðŸ”„ Prices update in $USD (1 hour):\n\n$BTC - ...,NaN,Cryptocurrencies prices to USD,False
98,www.DeFi.radio,DeFi,playlist:\nhttps://t.co/xKJQE3EQSu\nhttps://t....,2020-07-03 02:02:20,274.0,1053,4401,False,2021-02-10 23:09:18,just added Episode 25 - Insane 888ETH ($1.5M) ...,"['DeFi', 'BTC', 'ETH', 'BITCOIN', 'CRYPTO']",Integromat,False
99,Nishant Bhardwaj,"Kota, Rajasthan","Philosopher, psychologist, spiritual, writer a...",2010-07-01 06:59:21,662.0,155,915,False,2021-02-10 23:08:14,$FTM is looking super amazing. Should easily d...,"['Bitcoin', 'BTC', 'dogecoin']",Twitter for iPhone,False

In [4]:
dataset_p=pd.read_csv("archive/Bitcoin.csv")

In [5]:
dataset_p.head(5)

,Date,Open,High,Low,Close,Volume,Market Cap
0,28-05-2021,38507.083075,38856.967885,34779.039427,35697.606390,5.520019e+10,6.682839e+11
1,27-05-2021,39316.889678,40379.617672,37247.903676,38436.968535,4.321097e+10,7.195381e+11
2,26-05-2021,38392.623656,40782.078183,37905.834854,39294.197382,5.134674e+10,7.355564e+11
3,25-05-2021,38795.780250,39776.349798,36581.428916,38402.223851,5.621192e+10,7.188294e+11
4,24-05-2021,34700.363568,39835.139830,34551.080550,38705.978637,6.735958e+10,7.243321e+11

In [6]:
dataset_t.user_created.dtype

dtype('O')

In [7]:
dataset_t.user_created[0]

'2009-04-26 20:05:09'

In [8]:
dataset_t.dtypes

user_name            object
user_location        object
user_description     object
user_created         object
user_followers      float64
user_friends         object
user_favourites      object
user_verified        object
date                 object
text                 object
hashtags             object
source               object
is_retweet           object
dtype: object

In [11]:
 pd.to_datetime(dataset_t.user_created[0])

Timestamp('2009-04-26 20:05:09')

In [ ]:
dataset_t["date"]=pd.to_datetime(dataset_t.user_created)

C:\Users\KAWSAR~1\AppData\Local\Temp/ipykernel_2168/792436958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_t["date"][i]=pd.to_datetime(dataset_t.user_created[i])

In [9]:
len( dataset_t.user_created)

2284926

In [10]:
 pd.to_datetime(dataset_t.user_created[0])

Timestamp('2009-04-26 20:05:09')

In [12]:
dataset_t["date"]

0          2021-02-10 23:59:04
1          2021-02-10 23:58:48
2          2021-02-10 23:54:48
3          2021-02-10 23:54:33
4          2021-02-10 23:54:06
                  ...
2284921    2022-02-09 20:55:00
2284922    2022-02-09 20:54:50
2284923    2022-02-09 20:54:50
2284924    2022-02-09 20:54:36
2284925    2022-02-09 20:54:35
Name: date, Length: 2284926, dtype: object

In [13]:
dataset_t["date"][0]

'2021-02-10 23:59:04'

In [22]:
from datetime import datetime 
datetime.strptime(dataset_t.user_created[0], '%m-%d-%Y ')

ValueError: time data '2009-04-26 20:05:09' does not match format '%m-%d-%Y '

In [21]:
dataset_t.user_created[0]

'2009-04-26 20:05:09'